/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$base-font-family:              "aller-n4", "aller", Helvetica, sans-serif;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 0px;
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */

$primary_color: #2698BA; // Light blue
$secondary_color_1: #3652C5; // Dark blue
$secondary_color_2: #FFC02D; // Dark yellow
$complement_color: #FF972D; // Orange
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color:     #666;
$header-color: #333;
/* Set theme color *************************/
$theme-color:   $primary_color;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "aller-n4", "aller", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: $header-color;
}


/**
 * Links
 */
a {
    color: $theme-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%);
    }
    */
    &:hover {
        color: $theme-color;
        text-decoration: underline;
    }
}

article a {
    color: $theme-color;
    font-weight: 100;

    &:hover {
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: em(15);
    line-height: 1.1;
    border-radius: em(3);
    background-color: $grey-color-light;
}

code {
    padding: em(1) em(5);
}

pre {
    padding: em(8) em(12);
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */

.wrapper {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
        max-width:         calc(800px - (#{$horizontal-spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.homepage .wrapper {
    max-width: -webkit-calc(1200px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(1200px - (#{$horizontal-spacing-unit} * 2));
}

/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.site-title {
    display: inline;
    font-size: 2em;
    font-size: 2rem;
}

.site-title-home {
    color: $theme-color;
}

.main-menu, .main-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu li {
    display: inline;
    float: left;
    margin: 0 0.5em;
}
.main-menu .active {
    color: $theme-color;
}
.main-menu, .main-menu .main-menu-first-menu-item {
    margin-left: 0;
}
.wf-loading {
    visibility: hidden;
  }

  .wf-active, .wf-inactive {
    visibility: visible;
  }


.post-title {
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: normal;
    font-size: 3em;
}

.site-nav a, .site-nav .site-title {
    text-transform: lowercase;
    font-size: 1em;
}
.home-intro {
    margin-top: 3em;
    text-align: center;
}
